*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}
section{
    position: relative;
    padding: 20px;
    width: 100%;
    height: 100vh;
}
section .main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
section h1{
    font-size: 3em;
    margin: 10px;
}
section button{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 30px;
    font-size: 1.5em;
    cursor: pointer;
}
.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #000;
    width: 400px;
    height: 500px;
    box-shadow: 0 25px 25px rgba(255, 255, 255, 0.3),
    0 0 0 1000px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    visibility: hidden;
}
.popup h1{
    padding: 15px;
    color: #111;
    position: fixed;
    top: 20px;
}
.popup img{
    position: fixed;
    bottom: 100px;
}
.popup h1 span{
    margin: 0;
    padding: 0;
    display: table-cell;
    animation: animate 2.5s linear infinite;
}
.popup h1 span:nth-child(1){
    animation-delay: 0.2s;
}
.popup h1 span:nth-child(2){
    animation-delay: 0.4s;
}
.popup h1 span:nth-child(3){
    animation-delay: 0.6s;
}
.popup h1 span:nth-child(4){
    animation-delay: 0.8s;
}
.popup h1 span:nth-child(5){
    animation-delay: 1s;
}
.popup h1 span:nth-child(6){
    animation-delay: 1.2s;
}
.popup h1 span:nth-child(7){
    animation-delay: 1.4s;
}
.popup h1 span:nth-child(8){
    animation-delay: 1.6s;
}
.popup h1 span:nth-child(9){
    animation-delay: 1.8s;
}
.popup h1 span:nth-child(10){
    animation-delay: 2s;
}
.popup h1 span:nth-child(11){
    animation-delay: 2.2s;
}
@keyframes animate {
    0%,100%{
        color: #fff;
        filter: blur(2px);
        text-shadow: 0 0 1px #fff,
        0 0 2px #fff,
        0 0 3px #fff,
        0 0 4px #fff,
        0 0 5px #fff,
        0 0 6px #fff,
        0 0 7px #fff,
        0 0 8px #fff,
        0 0 9px #fff,
        0 0 10px #fff,
        0 0 11px #fff;
    }
    5%,95%{
        color: #111;
        filter: blur(0px);
        text-shadow: 0 0 1px none;
    }
}
.popup.active{
    visibility: visible;
}
.close{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    background: #f00;
    color: #fff;
    cursor: pointer;
}
#my-canvas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100000;
    visibility: hidden;
    pointer-events: none;
}
#my-canvas.active{
    visibility: visible;
}